.DS_Store
ChatClient
Chat_Server/node_modules
Chat_Server/commands/tests/__debug*
Chat_Client_CLI
Auth_Server/node_modules
*.pem
Auth_Server/TMP-Generators
Chat_Server/TestClient/*-*-*-*-*
build-*
android_release*

# ANDROID
android/

# firebase sdk
firebase_cpp_sdk/